name: Rust

on:
    push:
        branches: ["main"]
    pull_request:
        branches: ["main"]

env:
    CARGO_TERM_COLOR: always
    DB_USER: ${{ secrets.DB_USER }}
    DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
    DB_NAME: ${{ secrets.DB_NAME }}
    DB_HOST: ${{ secrets.DB_HOST }}
    DB_PORT: ${{ secrets.DB_OPTIONS }}
    DATABASE_URL: postgres://${{ secrets.DB_USER }}:${{ secrets.DB_PASSWORD }}@${{ secrets.DB_HOST }}/${{ secrets.DB_NAME }}${{secrets.DB_OPTIONS}}
    JWT_SECRET: ${{ secrets.JWT_SECRET }}
    JWT_EXPIRY_HOUR: ${{ secrets.JWT_EXPIRY_HOUR }}
    PORT: ${{ secrets.PORT }}
    DB_POOL_MAX_CONNECTIONS: ${{ secrets.DB_POOL_MAX_CONNECTIONS }}
    CLOUD_NAME: ${{ secrets.CLOUD_NAME }}
    CLOUD_API_KEY: ${{ secrets.CLOUD_API_KEY }}
    CLOUD_API_SECRET: ${{ secrets.CLOUD_API_SECRET }}

jobs:
    build:
        runs-on: ubuntu-latest

        services:
            postgres:
                image: postgres:16
                env:
                    POSTGRES_USER: ${{ secrets.DB_USER }}
                    POSTGRES_PASSWORD: ${{ secrets.DB_PASSWORD }}
                    POSTGRES_DB: ${{ secrets.DB_NAME }}
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd="pg_isready"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5

        steps:
            - uses: actions/checkout@v4

            - uses: dtolnay/rust-toolchain@stable
              with:
                  components: rustfmt, clippy

            - name: Check formatting
              run: cargo fmt --all -- --check

            - name: Run clippy
              run: cargo clippy -- -D warnings

            - name: Build
              run: cargo build --verbose

            - name: Run tests
              run: cargo test --verbose
